DATABASE_URL=postgresql://postgres:test@db-test:5432/test
POSTGRES_USER=postgres
POSTGRES_PASSWORD=test
POSTGRES_DB=test

WEATHER_API_KEY=test
WEATHER_API_URL=http://api.weatherapi.com/v1
OPEN_METEO_API_URL=https://api.open-meteo.com/v1
GEOCODING_API_URL=https://geocoding-api.open-meteo.com/v1

REDIS_HOST=redis-test
REDIS_PORT=6379

EMAIL_USER=test
EMAIL_PASSWORD=test
EMAIL_SERVICE="gmail"

EMAIL_CONFIRM_LINK=http://localhost:3000/api/confirm/
EMAIL_UNSUBSCRIBE_LINK=http://localhost:3000/api/unsubscribe/

PORT=3000

CITY_CACHE_PREFIX=city
CITY_CACHE_TTL=600

WEATHER_CACHE_PREFIX=weather
WEATHER_CACHE_TTL=600